<!DOCTYPE html>
	<html lang="en">
	{% load staticfiles %}
	<head>
		<meta charset="UTF-8">
		<title>EasySCNVSim</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon"
      		type="image/png"
      		href="{% static 'webapp/favicon.png' %}">

		
		<!-- google fonts -->

		<!-- Css link -->
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'webapp/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/owl.transitions.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/lightbox.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/preloader.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/image.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/icon.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">
		<link rel="stylesheet" href="{% static 'webapp/css/responsive.css' %}">

	</head>
	<body id="top">
	

        <header id="navigation" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body"><img src="{% static 'webapp/img/logo.png' %}" height="40" width="164" alt=""></a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">Home</a></li>
                        <li><a href="#select-reference">1. Select Reference</a></li>
                        <li><a href="#modify-parameters">2. Modify Parameters</a></li>
                        <li><a href="#simulate-reads">3. Simulate Reads</a></li>
                        <li><a href="http://easyscnvsim.readthedocs.io/en/latest/" target="_blank">Need Help?</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>


	<div class="wrapper">
		<section id="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<h1>Super Easy Simulation of Genetic Variations</h1>
							<h2>Don't spend time learning command-line tools to generate data for your research studies.<br>
								<strong>EasySCNVSim</strong> makes it extremely easy to simulate somatic CNVs and structural variations (SVs) in your reference genome and generates synthetic FASTQ reads for you.</h2>
							<div class="buttons">
								<a href="#" class="btn btn-learn">Read the Docs</a>
								<a href="#select-reference" class="btn btn-learn scroll-click">Start Simulation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scrolldown">
	            <a href="#select-reference" class="scroll scroll-click"></a>
	        </div>
		</section>
		<section id="select-reference">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>1. SELECT REFERENCE</h2>
							{% if reference_ready %}
								<p>Great! Looks like you got your reference genome folder is in place.<br>
								Scroll down to proceed to the next step ..</p>
							{% else %}
								<p style="color:red;">Oops! The simulator couldn't find the reference folder. Possible causes:</p>
								1. You have to use one of the folders we provided at <a href="http://nabavilab.uconn.edu/datasets/" target="_blank">http://nabavilab.uconn.edu/datasets/</a> as the reference folder.
								<br>
								2. You have to tell Docker where to find your reference folder using <code>-v &lt;absolute_path_to_reference_folder&gt;:/reference</code> flag.
							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-ios-body-outline"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Normal Reads</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">First, you will generate reads for the normal genome.<br>They represent reads from a healthy person;<br> with normal SNPs and Indels.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-paintbucket"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Add Variations</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Second, you will design your experiment to simulate the tumor genome.Select parameters the way you want them; No restrictions.</p>
						</div>
					</div>
					<div class="col-md-4 col-xs-6 col-sm-6">
						<div class="feature-block text-center">
							<div class="icon-box">
								<i class="ion-ios-body"></i>
							</div>
							<h4 class="wow fadeInUp" data-wow-delay=".3s">Tumor Reads</h4>
							<p class="wow fadeInUp" data-wow-delay=".5s">Third, you will generate reads for the tumor genome.<br>You will also get proper variation files included that are the truth benchmark.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="modify-parameters">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>2. MODIFY PARAMETERS</h2>
						<p>Now, modify the simulation parameters.<br> Normal reads parameters are on the left, tumor reads parameters are on the right.<br>You can also leave the default values.</p>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s" style="overflow-y: scroll; height: 365px;">

						  <div class="media-body">
						    <a href="#"><h4 class="media-heading" style="color:white;">Normal Reads Parameters</h4></a>
							  <br>
							<div class="row">
								<div class="col-md-3" style="color: white; text-align: left">
									SNV rate
								</div>
								<div class="col-md-3" style="color: white;">
									<input id="normal-snv-rate" type="text" class="form-control" value="0.001">
								</div>
								<div class="col-md-3" style="color: white; ">
									INDEL rate
								</div>
								<div class="col-md-3" style="color: white;">
									<input id="normal-indel-rate" type="text" class="form-control" value="0.0003">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Transition/Transversion ratio
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="normal-transition-transversion-ratio" type="text" class="form-control" value="0.65">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Heterozygous-Homozygous ratio
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="normal-heterozygous-homozygous-ratio" type="text" class="form-control" value="2.0">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Insertion percent to total INDELs
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="normal-insertion-percent" type="text" class="form-control" value="0.5">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Mean INDEL length
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="normal-mean-indel-length" type="text" class="form-control" value="1">
								</div>
							</div>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s" style="overflow-y: scroll; height: 365px;">
						  <div class="media-body">
						    <a href="#"><h4 class="media-heading" style="color:white;">Tumor Reads Parameters</h4></a>
							<br>
						    <div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Base tumor genome ploidy
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-base-tumor-genome-ploidy" type="text" class="form-control" value="2">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Structure variation rate
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-structure-variation-rate" type="text" class="form-control" value="0.2">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Repeat mediated structure variation percentage
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-repeat-mediated-structure-variation-percentage" type="text" class="form-control" value="0.2">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Mean copy number segment size
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-mean-copy-number-segment-size" type="text" class="form-control" value="1000000">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Heterozygous-Homozygous ratio
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-heterozygous-homozygous-ratio" type="text" class="form-control" value="2">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Mean number of tandem duplication
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-mean-number-of-tandem-duplication" type="text" class="form-control" value="3">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Maximum size of tandem duplication
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-maximum-size-of-tandem-duplication" type="text" class="form-control" value="5000">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Minimal deletion size
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-minimal-deletion-size" type="text" class="form-control" value="500">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Copy neutral LOH rate
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-copy-neutral-loh-rate" type="text" class="form-control" value="0.2">
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-9" style="color: white; text-align: left">
									Number of SVs simulated
								</div>
								<div class="col-md-3" style="color: white; text-align: left">
									<input id="tumor-number-of-svs-simulated" type="text" class="form-control" value="300">
								</div>
							</div>
							<br>
						  </div>
						</div>
					</div>
				</div>
				<div class="row"style="color: white; padding-top: 50px;">
						<div class="col-md-4"></div>
						<div class="col-md-2">Output Prefix</div>
						<div class="col-md-2"><input id="output-prefix" type="text" class="form-control" value="my_sim"></div>
						<div class="col-md-4"></div>
					</div>
			</div>
		</section>
		<section id="simulate-reads">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>3. Simulate Reads</h2>
						<p>Now, click run below and wait for the simulation to finish.<br>You will find the reads in the directory you ran this application from.</p>
					</div>
				</div>
				<div class="row" style="text-align: center">
					{% if reference_ready %}
						<div class="btn btn-success	" id="run-simulation">Run Simulation</div>
					{% else %}
						<div class="btn btn-success" disabled="true">Run Simulation</div>
						<br><br><p style="color:red;">Simulator is not ready! Check error in step 1.</p>
					{% endif %}
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<a href="#"><img src="{% static 'webapp/img/logo.png' %}" alt=""></a>
							<p>Developed at <a href="http://nabavilab.uconn.edu" target="_blank" style="color: white;">NabaviLab, University of Connecticut</a>. </p>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

		<!-- load Js -->
		<script src="{% static 'webapp/js/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'webapp/js/waypoints.min.js' %}"></script>
		<script src="{% static 'webapp/js/lightbox.js' %}"></script>
		<script src="{% static 'webapp/js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'webapp/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'webapp/js/html5lightbox.js' %}"></script>
		<script src="{% static 'webapp/js/jquery.mixitup.js' %}"></script>
		<script src="{% static 'webapp/js/wow.min.js' %}"></script>
		<script src="{% static 'webapp/js/jquery.scrollUp.js' %}"></script>
		<script src="{% static 'webapp/js/jquery.sticky.js' %}"></script>
		<script src="{% static 'webapp/js/jquery.nav.js' %}"></script>
		<script src="{% static 'webapp/js/main.js' %}"></script>
	</body>
</html>